@import "@unocss/reset/tailwind.css";
@unocss all;

html {
  @apply text-stone-800;
  tab-size: 2;
  line-height: 1.6;
  font-size: 18px;
  --un-default-border-color: rgb(41 37 36)
}
body {
  /* stop books overflowing */
  overflow-x: hidden;
}

/* details summary {
  cursor: pointer;
} */

/* article > * {
  @apply my-4;
}

article > details > * {
  @apply my-4;
} */