@import "@unocss/reset/tailwind.css";
@unocss;

h1,
h2,
h3,
h4 {
  @apply text-2xl font-bold;
}

html {
  @apply text-stone-800 text-xl;
  tab-size: 2;
}

/* Quick fix for code hike component on mobile */
.ch-spotlight {
  flex-direction: column;
}

@screen sm {
  .ch-spotlight {
    flex-direction: row;
  }
}
