@import "@unocss/reset/tailwind.css";
@unocss all;

html {
  @apply text-stone-800;
  tab-size: 2;
}

/* Quick fix for code hike component on mobile */
/* .ch-spotlight {
  flex-direction: column;
}

@screen sm {
  .ch-spotlight {
    flex-direction: row;
  }
} */

details summary {
  cursor: pointer;
}

/* details summary > * {
  display: inline;
} */

/* .ch-spotlight-tab {
  @apply py-4;
} */

article > * {
  @apply my-4;
}

article > details > * {
  @apply my-4;
}

/* h1,
h2,
h3 {
  @apply text-zinc-900/20;
}

h1 {
  @apply top-12 font-playfair text-5xl font-black sticky bg-white z-3;
}

h2 {
  @apply top-24 font-playfair text-5xl font-black sticky bg-white z-2;
}
h3 {
  @apply top-36 font-playfair text-5xl font-black sticky bg-white z-1;
} */
